* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.nav--container {
  display: flex;
  padding: 20px 36px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav--container > img {
  max-width: 100px;
}
.hero--container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.hero--photo {
  max-width: 800px;
  align-self: center;
}
.hero--title {
  margin-bottom: 16px;
  width: 347px;
  height: 40px;
}
.hero--text {
  margin-top: 0;
}
