* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.nav--container {
  display: flex;
  padding: 20px 36px;
  height: 70px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav--container > img {
  max-width: 100px;
}
.hero--container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.hero--photo {
  max-width: 800px;
  align-self: center;
}
.hero--title {
  margin-bottom: 16px;
  width: 347px;
  height: 40px;
}
.hero--text {
  margin-top: 0;
}

section {
  padding: 20px;
}
.card-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 170px;
  overflow-x: auto;
}

.card--container {
  width: 100px;
  font-size: 18px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card--title {
  margin-top: auto;
}
.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
.card--image {
  border-radius: 9px;
  width: 250%;
}
.card--review {
  display: flex;
  align-items: center;
  gap: 2px;
}
.card--star {
  height: 20px;
}
.gray {
  color: #918e9b;
}
